[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule "home/bash-it"]
	path = home/bash-it
	url = https://github.com/Bash-it/bash-it.git
[submodule "home/pyenv"]
	path = home/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "home/sdkman-cli"]
	path = home/sdkman-cli
	url = https://github.com/sdkman/sdkman-cli.git
